body {
  font-family: Arial;
}

.dashed-border {
  border: dashed 3px black;
}

.custom-class {
  float:left;
  padding: 15px;
}

.text-centered {
  text-align: center;
}

.black-shadow {
  box-shadow: 3px 3px 5px black;
}

.red-bg {
  background-color: red;
}

.blue-bg {
  background-color: blue;
}

.green-bg {
  background-color: green;
}

.orange-bg {
  background-color: orange;
}

.purble-bg {
  background-color: purple;
}

.gray-bg {
  background-color: gray;
}
