body {
  font-family: Arial;
}

.title-div {
  text-align: center;
  box-shadow: 3px 3px 10px gray;
}

.photo {
  max-width: 16px;
  border: dashed 3px black;
}

.guestbook-photo {
  max-width: 50px;
}

.guestbook-input {
  margin: 5px;
  max-width: 250px;
}

.guestbook-comments {
  max-height: 300px;
  overflow-y: scroll;
}
